.name{
    text-align: center;
    font-size: 20px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product-img{
    height: 250px;
    object-fit:contain;
    width: 100%;
}


.product{
    border-radius: 15px;
    background-color: #FFE0EA;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    border: 2px solid #EF86C1;
    margin: 30px;
}
.price{
    text-align: center;
}

.description{
    text-align: center;
}

.product:hover{
    transform: scale(1.04);
}
.addToCartBtn, .more-info {
    position: relative;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #FF6093;
    background-color: #FF6093;
    margin:auto;
}
  
.addToCartBtn, .button-icon, .button-text,.more-info {
    transition: all 0.3s;
}
  
.addToCartBtn .button-text {
    transform: translateX(30px);
    color: #000;
    font-weight: bold;
}
  
.addToCartBtn .button-icon {
    position: absolute;
    border-radius: 10px;
    transform: translateX(140px);
    height: 104%;
    width: 60px;
    background-color: #FF6093;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: column;
}


.more-info{
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;
}
  
  
.addToCartBtn:hover {
    background: #FF6093;
}
  
.addToCartBtn:hover .button-text {
    color: transparent;
}
  
.addToCartBtn:hover .button-icon {
    width: 148px;
    transform: translateX(25px);
}
  
.addToCartBtn:active, .button-icon:active, .more-info:active{
    background-color: #FFE0EA;
}
  
.addToCartBtn:active,.more-info:active {
    border: 1px solid #FFE0EA;
}



@media (max-width:1400px){
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}

@media (max-width:1090px){
    .products{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    

}



@media (max-width:480px){
    .product{
        width: 250px;
    }

  
}

