nav{
    background: rgba(0, 0, 0, 0.3);
    max-width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
}


nav a{
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color: black;
    font-size: 1.1rem;
    transition: all ease 0.3s;
}

nav a:hover{
    background-color: var(--main-color);
    color: var(--addition-color);
    cursor: pointer;
}

nav a.active{
    background-color: var(--main-color);
    color: var(--addition-color);
}

@media screen and (max-width:460px){
    nav{
        gap:0.2rem;
        padding: 0.7rem 0.7rem;
    }
}

@media screen and (max-width:350px){
    nav{
        padding: 0.1rem 0.1rem;
    }
}